html {
  scroll-snap-type: y proximity;
  @media screen and (max-width: 960px) {
    scroll-padding-top: 56px;
  }

  section {
    scroll-snap-align: start;
  }
}

#sourcerer-logo img {
  vertical-align: sub;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(150%) contrast(103%);
}

.tech-tags {
  & > ul {
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
    display: flex;

    & > li {
      margin-bottom: 16px;
      margin-right: 44px;
      width: 240px;

      & > ul {
        margin-left: 28px;
      }
    }
  }
}


#portfolio {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .portfolio-item {
      flex-grow: 1;
      flex-basis: 0;
      min-width: 280px;
      max-width: 400px;
      margin: 24px 12px;
      height: 200px;
      border-radius: 8px;
      // cursor: zoom-in;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 0;

      &.freewaynt { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Ffreewaynt-thumb.png?alt=media&token=120d38da-2d50-443b-8be8-cd86cb651c4d');}
      &.next-web { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fnext-web-thumb.png?alt=media&token=73d13caa-8e42-48fa-a7b7-2af5618cea4f');}
      &.eventse { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Feventse-thumb.png?alt=media&token=510c780a-02c5-4ff9-8b3b-ac036cf8175e');}
      &.adom { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fadom-thumb.png?alt=media&token=7e51ef8c-7c8c-4db7-a7e2-82e451481c44');}
      &.likenet { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Flikenet-thumb.png?alt=media&token=24892396-ab0f-4961-8aac-9840192b098d');}
      &.news-week { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fnews-week-thumb.png?alt=media&token=b100f5a8-e8ce-4fcf-8305-0d416326ef40');}
      &.sbg { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fsbg-thumb.png?alt=media&token=108b7d28-265e-4099-b201-28c034800d29');}
      &.melhor-escolha { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fmelhor-escolha-thumb.png?alt=media&token=f577c2b0-340a-402a-8eea-c2b6b545d3d2');}
      &.semantic-html { background-image: url('https://firebasestorage.googleapis.com/v0/b/tiagoit.appspot.com/o/portfolio%2Fsemantic-html.png?alt=media&token=79c0391a-3860-4b22-b19a-8d199e97253f');}

      .type {
        background-color: rgba(0,0,0,.8);
        color: #17a2b8;
        font-weight: 700;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        padding: 4px 24px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .5px;
      }

      .shadow {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        border-radius: inherit;
        height: inherit;
        color: white;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;
        opacity: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
        transition: opacity 0.2s ease 0s;
        
        .info {
          width: 100%;
          border-radius: inherit;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          text-align: center;
          background-color: greenyellow;
          padding: 12px;
          background: rgba(0, 0, 0, 0.8);
          transition: opacity 0.6s ease 0s;
          display: flex;
          justify-content: space-between;
          
          ul {
            text-align: left;
            flex-grow: 1;
            font-size: 12px;
            margin-bottom: 4px;

            &:first-child {
              list-style-type: none;
              padding-left: 0;
            }

            .note {
              padding-top: 2px;
              font-size: 10px;
              opacity: 0.7;
            }
          }
        }
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 20px 0px;
        .shadow {
          opacity: 1 !important;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .linkedin-badge {
    margin-left: calc(50% - 140px);
  }
}