#sourcerer-logo img {
  vertical-align: sub;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(150%) contrast(103%);
}

.tech-tags {
  & > ul {
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
    display: flex;

    & > li {
      margin-bottom: 24px;
      margin-right: 44px;
      width: 240px;

      & > ul {
        margin-left: 28px;
      }
    }
  }
}


h2 {
  color: rgba(0,0,0,0.7);
}